<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pro.delete}"></title>
</head>
<body>
<h1 th:text="#{pro.delete}"></h1>
<h2 th:text="#{cus.ask}"></h2>
<p>
    <a href="/provinces" th:text="#{pro.list}"></a>
</p>
Language: <a href="?lang=en">English</a> | <a href="?lang=fr">French</a>
<form th:action="@{/delete-province}" th:object="${province}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{pro.name}"></td>
            <td th:text="${province.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{pro.delete}"></td>
        </tr>
    </table>
</form>
</body>
</html>